.skills{
    margin-top: 1rem;
    margin-left: 5.75rem;
    margin-right: 5.75rem;
    margin-bottom: 1rem; 
}

.skills__title{
    margin: 1.563rem;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: 0em;
    text-align: center;
    color: #464646;
}

.skills__line{
    display: flex;
    justify-content: space-between;
}

.skills__box{
    display: flex;
    align-items: flex-end;
    width: 11rem;
    height: 6.25rem;
    margin: 0.313rem;
    padding-bottom: 0.313rem;
    background-color: #FFFFFF; 

    transition: transform 0.3s;    
}

.skills__box:hover {
    transform: scale(1.08);

}

.skills__img{
    margin-left: 0.313rem;
}

.skills__name{
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.188rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 0.313rem;
}


/*------------------------------------------------------------------------*/

/* Media query para teléfono móvil */
@media only screen and (max-width: 768px) {
    .skills {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .skills__title {
        margin: 1.25rem;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }

    .skills__line {
        flex-wrap: wrap;
    }

    .skills__box {
        /* width: 9.75rem; */
        height: 7.375rem;
        /* margin: 0.938rem;  */
        padding-bottom: 0.25rem; 
    }

    .skills__box:hover {
        transform: scale(1.08);
    }

    .skills__img {
        margin-left: 0.25rem;
    }

    .skills__name {
        font-size: 0.875rem;
        line-height: 1.063rem;
        margin-left: 0.25rem;
    }
}

/* Media query para tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .skills {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .skills__line {
        flex-wrap: wrap;
    }
    
    .skills__box {
        width: calc((100% - 2.626rem) / 3);
        margin: 0.313rem;
    }

    .skills__title {
        margin: 1.563rem;
        font-size: 1.375rem;
        line-height: 2.375rem;
    }

}
